html {
  font-size: 100%;
}
body {
  margin: 0;
  position: relative;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  background-color: #ddd;
}
html,
body {
  height: 100%;
  width: 100%;
}
header {
  width: 18em;
  height: 4em;
  position: absolute;
  right: 5.5em;
  top: 1em;
  color: #222;

  -webkit-transform-origin: 100% 0;
     -moz-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
       -o-transform-origin: 100% 0;
          transform-origin: 100% 0;

  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
header h1,
header p {
  margin: 0;
  line-height: 1;
}
header h1 {
  font-size: 2em;
}
header p {
  font-size: 1.2em;
}
header a {
  text-decoration: none;
  color: #227;
  border-bottom: 1px dotted #227;
  transform: border 8s linear;
  -moz-transition: all 2s ease-out;
}
header a:hover {
  color: blue;
  border-color: blue;
}
textarea {
  width: 90%;
  height: 90%;
  margin: 1%;
  padding: 1em;
}
